
train.csv
train/
test/
exter/
aptos_out_35.pth
aptos_out_34.pth
aptos_nas_v2.pth
aptos_nas_35.pth
aptos_nas_34.pth
__pycache__/nasnet.cpython-36.pyc
modify_key.py
last.py
aug.py
__pycache__/nasnetv2.cpython-36.pyc
nasnetv3.py
efficientnet_pytorch/